

@media screen and (max-width: 1920px){
    .intro1{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #000000;
        position: relative;
        left: 23.58%;
        top: 54px;
        width: 992px;
        height: auto;
        text-align: center;
    }
    .se1{
        width: 1920px;
    }
    .cua1{
        width: 100%;
        height:200px ;
        background-color: #F7AA14;
        position: relative;
        top: 0px;
    }
    .intro2{
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: #FFFFFF;
        position: relative;
        left: 0%;
        top: 54px;
        height: auto;
        text-align: center;
    }
    .botin1{
        width: 203px;
        height: 48px;
        background: #630F2B 0% 0% no-repeat padding-box;
        font: normal normal bold 17px/20px Rubik;
        letter-spacing: 0px;
        color: #FFFFFF;
        position: relative;
        top: 77px;
        left: 825px;
        border-style: hidden;
    }
    .tity1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #630F2B;
        position: relative;
        left:5%;
        top: 60px;
        height: auto;
        width: 500px;
        
    }
    .listFS{
        display: flex;
    }
    .listtr{
        display: inline;
        left: 3%;
        width: 700px;
        height: 477px;
    }
    .loi{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #630F2B;
        position: relative;
        left:5%;
        top: 54px;
        height: auto; 
        list-style: square; 
        margin: 5px;
        width: 1000px;
    }
    .imgFS{
        width: 475px;
        height: 518px;
        background-color: #F7AA14;
        position: relative;
        left: 570px;
    }
    .imgFS2{
        width: 475px;
        height: 360px;
        background-color: #F7AA14;
        position: relative;
        left: 570px;
    }
    .listtr2{
        display: inline;
        left: 3%;
        width: 700px;
        height: 340px;
    }
    .texc1{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        position: relative;
        left: 6.58%;
        top: 95px;
        height: 232px;
        text-align: left;
        width: 700px;
    }
    .imgFS3{
        width: 475px;
        height: 360px;
        background-color: #000;
        position: relative;
        left: 570px;
    }
    .texc2{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #630F2B;
        position: relative;
        left: 6.58%;
        top: 95px;
        height: 232px;
        text-align: left;
        width: 700px;
    }
    .tity2{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #630F2B;
        position: relative;
        left:37%;
        top: 60px;
        height: auto;
        width: 500px;
        text-align: center;
    }
    .intro4{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #000000;
        position: relative;
        left: 24.58%;
        top: 89px;
        width: 992px;
        height: auto;
        text-align: center;
    }
    .cardre{
        width: 1000px;
        height: 300px;
        box-shadow: 0px 0px 30px #00000029;
        position: relative;
        top: 152px;
        left: 475px;
        margin-bottom: 60px;
    }
    .lopiti{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #630F2B;
        position: relative;
        left: 30px;
        top: 35px;
        text-align: left;
        width: 400px;
    }
    .lopitit{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #630F2B;
        position: relative;
        left: 5%;
        top: 15px;
        height: auto;
        list-style: square;
        margin: 5px;
        width: 890px;
    }
    .listFS2{
        display: inline;
        position: relative;
        left: 15px;
    
    }
    .cardre2{
        width: 1000px;
        height: 255px;
        box-shadow: 0px 0px 30px #00000029;
        position: relative;
        top: 152px;
        left: 475px;
        margin-bottom: 60px;
    }
    .cardre3{
        width: 1000px;
        height: 210px;
        box-shadow: 0px 0px 30px #00000029;
        position: relative;
        top: 152px;
        left: 475px;
        margin-bottom: 60px;
    }
    .cardre4{
        width: 1000px;
        height: 160px;
        box-shadow: 0px 0px 30px #00000029;
        position: relative;
        top: 152px;
        left: 475px;
        margin-bottom: 60px;
    }
    }
@media screen and (max-width: 1440px){
        .intro1{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #000000;
            position: relative;
            left: 16.58%;
            top: 54px;
            width: 992px;
            height: auto;
            text-align: center;
        }
        .se1{
            width: 1440px;
        }
        .cua1{
            width: 100%;
            height:200px ;
            background-color: #F7AA14;
            position: relative;
            top: 0px;
        }
        .intro2{
            font-family: 'Poppins', sans-serif;
            font-size: 26px;
            font-weight: 600;
            color: #FFFFFF;
            position: relative;
            left: 0%;
            top: 54px;
            height: auto;
            text-align: center;
        }
        .botin1{
            width: 203px;
            height: 48px;
            background: #630F2B 0% 0% no-repeat padding-box;
            font: normal normal bold 17px/20px Rubik;
            letter-spacing: 0px;
            color: #FFFFFF;
            position: relative;
            top: 77px;
            left: 604px;
            border-style: hidden;
        }
        .tity1{
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            font-weight: 600;
            color: #630F2B;
            position: relative;
            left:5%;
            top: 60px;
            height: auto;
            width: 500px;
            
        }
        .listFS{
            display: flex;
        }
        .listtr{
            display: inline;
            left: 3%;
            width: 700px;
            height: 477px;
        }
        .loi{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #630F2B;
            position: relative;
            left:5%;
            top: 54px;
            height: auto; 
            list-style: square; 
            margin: 5px;
            width: 1000px;
        }
        .imgFS{
            width: 475px;
            height: 518px;
            background-color: #F7AA14;
            position: relative;
            left: 200px;
        }
        .imgFS2{
            width: 475px;
            height: 360px;
            background-color: #F7AA14;
            position: relative;
            left: 200px;
        }
        .listtr2{
            display: inline;
            left: 3%;
            width: 700px;
            height: 340px;
        }
        .texc1{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            position: relative;
            left: 6.58%;
            top: 95px;
            height: 232px;
            text-align: left;
            width: 700px;
        }
        .imgFS3{
            width: 475px;
            height: 360px;
            background-color: #000;
            position: relative;
            left: 200px;
        }
        .texc2{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #630F2B;
            position: relative;
            left: 6.58%;
            top: 95px;
            height: 232px;
            text-align: left;
            width: 700px;
        }
        .tity2{
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            font-weight: 600;
            color: #630F2B;
            position: relative;
            left:33%;
            top: 60px;
            height: auto;
            width: 500px;
            text-align: center;
        }
        .intro4{
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #000000;
            position: relative;
            left: 16.58%;
            top: 89px;
            width: 992px;
            height: auto;
            text-align: center;
        }
        .cardre{
            width: 1000px;
            height: 300px;
            box-shadow: 0px 0px 30px #00000029;
            position: relative;
            top: 152px;
            left: 227px;
            margin-bottom: 60px;
        }
        .lopiti{
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: #630F2B;
            position: relative;
            left: 30px;
            top: 35px;
            text-align: left;
            width: 400px;
        }
        .lopitit{
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: #630F2B;
            position: relative;
            left: 5%;
            top: 15px;
            height: auto;
            list-style: square;
            margin: 5px;
            width: 890px;
        }
        .listFS2{
            display: inline;
            position: relative;
            left: 15px;
        
        }
        .cardre2{
            width: 1000px;
            height: 255px;
            box-shadow: 0px 0px 30px #00000029;
            position: relative;
            top: 152px;
            left: 227px;
            margin-bottom: 60px;
        }
        .cardre3{
            width: 1000px;
            height: 210px;
            box-shadow: 0px 0px 30px #00000029;
            position: relative;
            top: 152px;
            left: 227px;
            margin-bottom: 60px;
        }
        .cardre4{
            width: 1000px;
            height: 160px;
            box-shadow: 0px 0px 30px #00000029;
            position: relative;
            top: 152px;
            left: 227px;
            margin-bottom: 60px;
        }
        }
@media screen and (max-width: 1366px){
.intro1{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    position: relative;
    left: 13.58%;
    top: 54px;
    width: 992px;
    height: auto;
    text-align: center;
}
.se1{
    width: 1366px;
}
.cua1{
    width: 100%;
    height:200px ;
    background-color: #F7AA14;
    position: relative;
    top: 0px;
}
.intro2{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    left: 0%;
    top: 54px;
    height: auto;
    text-align: center;
}
.botin1{
    width: 203px;
    height: 48px;
    background: #630F2B 0% 0% no-repeat padding-box;
    font: normal normal bold 17px/20px Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: relative;
    top: 77px;
    left: 559px;
    border-style: hidden;
}
.tity1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #630F2B;
    position: relative;
    left:5%;
    top: 60px;
    height: auto;
    width: 500px;
    
}
.listFS{
    display: flex;
}
.listtr{
    display: inline;
    left: 3%;
    width: 700px;
    height: 477px;
}
.loi{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #630F2B;
    position: relative;
    left:5%;
    top: 54px;
    height: auto; 
    list-style: square; 
    margin: 5px;
    width: 1000px;
}
.imgFS{
    width: 475px;
    height: 518px;
    background-color: #F7AA14;
    position: relative;
    left: 142px;
}
.imgFS2{
    width: 475px;
    height: 360px;
    background-color: #F7AA14;
    position: relative;
    left: 142px;
}
.listtr2{
    display: inline;
    left: 3%;
    width: 700px;
    height: 340px;
}
.texc1{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    position: relative;
    left: 6.58%;
    top: 95px;
    height: 232px;
    text-align: left;
    width: 700px;
}
.imgFS3{
    width: 475px;
    height: 360px;
    background-color: #000;
    position: relative;
    left: 142px;
}
.texc2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #630F2B;
    position: relative;
    left: 6.58%;
    top: 95px;
    height: 232px;
    text-align: left;
    width: 700px;
}
.tity2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #630F2B;
    position: relative;
    left:33%;
    top: 60px;
    height: auto;
    width: 500px;
    text-align: center;
}
.intro4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    position: relative;
    left: 13.58%;
    top: 89px;
    width: 992px;
    height: auto;
    text-align: center;
}
.cardre{
    width: 1000px;
    height: 300px;
    box-shadow: 0px 0px 30px #00000029;
    position: relative;
    top: 152px;
    left: 194px;
    margin-bottom: 60px;
}
.lopiti{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #630F2B;
    position: relative;
    left: 30px;
    top: 35px;
    text-align: left;
    width: 400px;
}
.lopitit{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #630F2B;
    position: relative;
    left: 5%;
    top: 15px;
    height: auto;
    list-style: square;
    margin: 5px;
    width: 890px;
}
.listFS2{
    display: inline;
    position: relative;
    left: 15px;

}
.cardre2{
    width: 1000px;
    height: 255px;
    box-shadow: 0px 0px 30px #00000029;
    position: relative;
    top: 152px;
    left: 194px;
    margin-bottom: 60px;
}
.cardre3{
    width: 1000px;
    height: 210px;
    box-shadow: 0px 0px 30px #00000029;
    position: relative;
    top: 152px;
    left: 194px;
    margin-bottom: 60px;
}
.cardre4{
    width: 1000px;
    height: 160px;
    box-shadow: 0px 0px 30px #00000029;
    position: relative;
    top: 152px;
    left: 194px;
    margin-bottom: 60px;
}
}