.intro1{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    position: relative;
    left: 13.58%;
    top: 54px;
    width: 992px;
    height: auto;
    text-align: center;
}
.cua1{
    width: 100%;
    height:200px ;
    background-color: #F7AA14;
    position: relative;
    top: 0px;
}
.intro2{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    left: 0%;
    top: 54px;
    height: auto;
    text-align: center;
}
.botin1{
    width: 203px;
    height: 48px;
    background: #630F2B 0% 0% no-repeat padding-box;
    font: normal normal bold 17px/20px Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: relative;
    top: 77px;
    left: 559px;
    border-style: hidden;
}
.tity1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #630F2B;
    position: relative;
    left:5%;
    top: 60px;
    height: auto;
    width: 500px;
    
}
.listFS{
    display: flex;
}
.listtr{
    display: inline;
    left: 3%;
    width: 700px;
    height: 477px;
}
.loi{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #630F2B;
    position: relative;
    left:5%;
    top: 54px;
    height: auto; 
    list-style: square; 
    margin: 5px;
    width: 1000px;
}
.imgFS{
    width: 475px;
    height: 518px;
    background-color: #F7AA14;
    position: relative;
    left: 142px;
}