@media screen and (max-width: 1920px){

  .nav122{
      height: 80px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #630F2B;
        
        display: flex;
  }
  .logi{
      height: 60px;
      width: auto;
      position: relative;
      top: 16px;
      left: 30px;
    }
  .poreso{
      height: 46px;
    }
  ul{
      display: flex;
      position: relative;
      top: 16px;
      left: 231%;
    }
  li{
      color: #ffffff;
      list-style: none;
      outline-style: none;
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
    .julio{
      color: #ffffff;
      font-style: none;
      border-style: none;
      text-decoration: none;
    }
    .julio:hover{
      color: #F7AA14;
    }
    a{
      margin: 17px;
    }
  .for1x{
      margin-top: 145px;
      
    }
    .cuad54x{
      display: flex;
    }
    .fon1x{
      background-color: #630F2B;
      width: 1366px;
      height: 626px;
      top: 500px;
      left: 0px;
      
    }
    .formatox{
      width: 638px;
      height: 796px;
      background-color: white;
      box-shadow: 0px 0px 25px #00000029;
      position: relative;
      left: 31%;
    }
    .Ftitulox{
      font: normal normal bold 24px/28px Rubik;
      letter-spacing: 0px;
      color: #630F2B;
      position: relative;
      top: 48px;
      left: 29%;
      width: 68%;
    }
    input[type=text]{
      width:  91%;
      height: 50px;
      padding: 12px 20px;
      margin: 8px 0 20px 0;
      box-sizing: border-box;
    }
    label{
      font: normal normal normal 16px/23px Poppins;
      color: #630F2B;
    }
    input[type=text]:focus{
      border-color: #630F2B;
    }
    .epa{
      margin-top: 84px;
      margin-left: 55px;
    }
    input[type=submit]{
      width: 168px;
      height: 48px;
      font: normal normal normal 16px/23px Poppins;
      color: white;
      background-color:#630F2B ;
      border-style: none;
    }
    input[type=submit]:hover{
      background-color: #44091C;
      
    }
    textarea{
      width: 91%;
      height: 100px !important;
      padding: 12px 20px;
      margin: 8px 0 20px 0;
      box-sizing: border-box;
      resize: none !important;
    }
    footer{
      background-color: #630F2B;
      width: 100%;
      height: 370px;
      margin-top: 70px;
    }
    .img10{
      position: relative;
      top: 85px;
      left: 66px;
      width: 209px;
      height: auto;
    }
    .info{
      position: relative;
      left: 165px;
    }
    .fot1{
      width: 382px;
      height: auto;
      text-align: left;
      font: normal normal normal 16px/23px Poppins;
      letter-spacing: 0px;
      color: white;
      position: relative;
      top: 195px;
      left: 66px;
      font-weight: 300;
    }
    .fot2{
      width: 384px;
      height: auto;
      text-align: left;
      font: normal normal normal 16px/23px Poppins;
      letter-spacing: 0px;
      color: white;
      position: relative;
      top: -23px;
      left: 536px;
      font-weight: 300;
    }
    .fot3{
      width: 254px;
      height: auto;
      text-align: left;
      font: normal normal normal 16px/23px Poppins;
      letter-spacing: 0px;
      color: white;
      position: relative;
      top: 30px;
      left: 536px;
      font-weight: 300;
    }
    .fot4{
      width: 228px;
      height: auto;
      text-align: left;
      font: normal normal normal 16px/23px Poppins;
      letter-spacing: 0px;
      color: white;
      position: relative;
      top: -114px;
      left: 996px;
      font-weight: 300;
    }
  }
@media screen and (max-width: 1440px){

    .nav122{
        height: 80px;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #630F2B;
          
          display: flex;
    }
    .logi{
        height: 60px;
        width: auto;
        position: relative;
        top: 16px;
        left: 30px;
      }
    .poreso{
        height: 46px;
      }
    ul{
        display: flex;
        position: relative;
        top: 16px;
        left: 147%;
      }
    li{
        color: #ffffff;
        list-style: none;
        outline-style: none;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
      .julio{
        color: #ffffff;
        font-style: none;
        border-style: none;
        text-decoration: none;
      }
      .julio:hover{
        color: #F7AA14;
      }
      a{
        margin: 17px;
      }
    .for1x{
        margin-top: 140px;
        
      }
      .cuad54x{
        display: flex;
      }
      .fon1x{
        background-color: #630F2B;
        width: 1366px;
        height: 626px;
        top: 500px;
        left: 0px;
        
      }
      .formatox{
        width: 638px;
        height: 796px;
        background-color: white;
        box-shadow: 0px 0px 25px #00000029;
        position: relative;
        left: 24%;
      }
      .Ftitulox{
        font: normal normal bold 24px/28px Rubik;
        letter-spacing: 0px;
        color: #630F2B;
        position: relative;
        top: 48px;
        left: 29%;
        width: 68%;
      }
      input[type=text]{
        width:  91%;
        height: 50px;
        padding: 12px 20px;
        margin: 8px 0 20px 0;
        box-sizing: border-box;
      }
      label{
        font: normal normal normal 16px/23px Poppins;
        color: #630F2B;
      }
      input[type=text]:focus{
        border-color: #630F2B;
      }
      .epa{
        margin-top: 84px;
        margin-left: 55px;
      }
      input[type=submit]{
        width: 168px;
        height: 48px;
        font: normal normal normal 16px/23px Poppins;
        color: white;
        background-color:#630F2B ;
        border-style: none;
      }
      input[type=submit]:hover{
        background-color: #44091C;
        
      }
      textarea{
        width: 91%;
        height: 100px !important;
        padding: 12px 20px;
        margin: 8px 0 20px 0;
        box-sizing: border-box;
        resize: none !important;
      }
      footer{
        background-color: #630F2B;
        width: 100%;
        height: 370px;
        margin-top: 70px;
      }
      .img10{
        position: relative;
        top: 85px;
        left: 66px;
        width: 209px;
        height: auto;
      }
      .info{
        position: relative;
        left: 165px;
      }
      .fot1{
        width: 382px;
        height: auto;
        text-align: left;
        font: normal normal normal 16px/23px Poppins;
        letter-spacing: 0px;
        color: white;
        position: relative;
        top: 195px;
        left: 66px;
        font-weight: 300;
      }
      .fot2{
        width: 384px;
        height: auto;
        text-align: left;
        font: normal normal normal 16px/23px Poppins;
        letter-spacing: 0px;
        color: white;
        position: relative;
        top: -23px;
        left: 536px;
        font-weight: 300;
      }
      .fot3{
        width: 254px;
        height: auto;
        text-align: left;
        font: normal normal normal 16px/23px Poppins;
        letter-spacing: 0px;
        color: white;
        position: relative;
        top: 30px;
        left: 536px;
        font-weight: 300;
      }
      .fot4{
        width: 228px;
        height: auto;
        text-align: left;
        font: normal normal normal 16px/23px Poppins;
        letter-spacing: 0px;
        color: white;
        position: relative;
        top: -114px;
        left: 996px;
        font-weight: 300;
      }
    }
@media screen and (max-width: 1366px){

.nav122{
    height: 80px;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #630F2B;
      
      display: flex;
}
.logi{
    height: 60px;
    width: auto;
    position: relative;
    top: 16px;
    left: 30px;
  }
.poreso{
    height: 46px;
  }
ul{
    display: flex;
    position: relative;
    top: 16px;
    left: 131%;
  }
li{
    color: #ffffff;
    list-style: none;
    outline-style: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .julio{
    color: #ffffff;
    font-style: none;
    border-style: none;
    text-decoration: none;
  }
  .julio:hover{
    color: #F7AA14;
  }
  a{
    margin: 17px;
  }
.for1x{
    margin-top: 140px;
    
  }
  .cuad54x{
    display: flex;
  }
  .fon1x{
    background-color: #630F2B;
    width: 1366px;
    height: 626px;
    top: 500px;
    left: 0px;
    
  }
  .formatox{
    width: 638px;
    height: 796px;
    background-color: white;
    box-shadow: 0px 0px 25px #00000029;
    position: relative;
    left: 24%;
  }
  .Ftitulox{
    font: normal normal bold 24px/28px Rubik;
    letter-spacing: 0px;
    color: #630F2B;
    position: relative;
    top: 48px;
    left: 29%;
    width: 68%;
  }
  input[type=text]{
    width:  91%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0 20px 0;
    box-sizing: border-box;
  }
  label{
    font: normal normal normal 16px/23px Poppins;
    color: #630F2B;
  }
  input[type=text]:focus{
    border-color: #630F2B;
  }
  .epa{
    margin-top: 84px;
    margin-left: 55px;
  }
  input[type=submit]{
    width: 168px;
    height: 48px;
    font: normal normal normal 16px/23px Poppins;
    color: white;
    background-color:#630F2B ;
    border-style: none;
  }
  input[type=submit]:hover{
    background-color: #44091C;
    
  }
  textarea{
    width: 91%;
    height: 100px !important;
    padding: 12px 20px;
    margin: 8px 0 20px 0;
    box-sizing: border-box;
    resize: none !important;
  }
  footer{
    background-color: #630F2B;
    width: 100%;
    height: 370px;
    margin-top: 70px;
  }
  .img10{
    position: relative;
    top: 85px;
    left: 66px;
    width: 209px;
    height: auto;
  }
  .info{
    position: relative;
    left: 165px;
  }
  .fot1{
    width: 382px;
    height: auto;
    text-align: left;
    font: normal normal normal 16px/23px Poppins;
    letter-spacing: 0px;
    color: white;
    position: relative;
    top: 195px;
    left: 66px;
    font-weight: 300;
  }
  .fot2{
    width: 384px;
    height: auto;
    text-align: left;
    font: normal normal normal 16px/23px Poppins;
    letter-spacing: 0px;
    color: white;
    position: relative;
    top: -23px;
    left: 536px;
    font-weight: 300;
  }
  .fot3{
    width: 254px;
    height: auto;
    text-align: left;
    font: normal normal normal 16px/23px Poppins;
    letter-spacing: 0px;
    color: white;
    position: relative;
    top: 30px;
    left: 536px;
    font-weight: 300;
  }
  .fot4{
    width: 228px;
    height: auto;
    text-align: left;
    font: normal normal normal 16px/23px Poppins;
    letter-spacing: 0px;
    color: white;
    position: relative;
    top: -114px;
    left: 996px;
    font-weight: 300;
  }
}